name: team_flow
description: Student Project Management System - Team Flow (Flutter + Clean Architecture)
publish_to: "none"
version: 0.0.1+1
environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  equatable: ^2.0.5
  flutter_bloc: ^8.1.4
  shelf: ^1.4.1
  shelf_router: ^1.1.4
  uuid: ^4.2.2
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
